@charset "UTF-8";


/* common */
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.text-align-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.common-f2f2f2 {
  background-color: #f2f2f2;
}

.common-74cfae {
  background-color: #74cfae;
}

.color-white {
  color: #fff;
}

.font-raleway {
  font-family: 'Raleway';
}

.font-lato {
  font-family: 'Lato';
}

.text-decoration-none {
  text-decoration: none;
}

.transition {
  transition-duration: .3s;
}

.font-24 {
  font-size: 24px;
}

.line-height-30 {
  line-height: 30px;
}

.justify-center {
  justify-content: center;
}

.img {
  opacity: 0.7;
  z-index: 2;
}

.img:hover {
  opacity: 1;
}

.btn:hover {
  color: #333;
}

.icon:hover {
  background-color: #fff;
}

/* common */




/* PC */
@media (min-width: 1200px) {
  
  /* デザイン */

  .display-flex {
    display: flex;
  }

  .btn {
    height: 12px;
    font-size: 12px;
    padding: 14px 20px;
    background-color: #74cfae;
  }

  .margin-0-auto {
    margin: 0 auto;
  }

  .font-16 {
    font-size: 16px;
  }

  .m-l-180 {
    margin-left: 180px;
  }

  .m-l-180:first-child {
    margin-left: 0;
  }

  .m-t-10 {
    margin-top: 10px;
  }

  .m-t-40 {
    margin-top: 40px;
  }

  .m-t-90 {
    margin-top: 90px;
  }
  /* デザイン */



  .inner {
    width: 1100px;
    justify-content: space-between;
  }

  .header {
    padding: 15px 0;
    background-color:#fff;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .main-theme {
    padding: 250px 0;
  }

  .bolt-theme {
    font-size: 90px;
    font-weight: 700;
    color: #74cfae;
  }

  .sub-bolt-theme {
    font-size: 30px;
    color: #c0c0c0;
    margin-top: 20px;
  }

  .section {
    padding-top: 50px;
    justify-content: space-evenly;
  }

  .sub-what-we {
    font-size: 20px;
    margin-top: 35px;
  }

  .article {
    padding: 60px 0 70px 0;
  }

  .our-latest-work {
    font-size: 24px;
    color: #333;
  }

  .work-img {
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .work-img a {
    margin-left: 100px;
  }

  .work-img a:nth-child(n+4) {
    margin-top: 80px;
  }

  .work-img a:nth-child(3n+1) {
    margin-left: 0;
  }

  .email-btn {
    margin-left: 90px;
  }

  .our-skills {
    width: 100%;
    background-color: #4e4e4e;
    padding: 70px 0 100px 0;
  }

  .nav {
    padding: 200px 0;
  }

  .sns {
    width: 740px;
  }

  .icon {
    width: 185px;
    height: 80px;
    align-items: center;
  }

  .footer {
    padding: 20px 0 25px 0;
  }

  .footer-text {
    color: #fff;
    float: right;
    font-size: small;
  }
}
/* PC */



/* TAB */
@media (min-width: 768px) and (max-width: 1199px) {

  /* デザイン */
  .margin-0-auto {
    margin: 0 auto;
  }

  .display-flex {
    display: flex;
  }

  .section .display-flex {
    display: block;
  }

  .display-block {
    display: block;
  }

  .m-t-80 {
    margin-top: 80px;
  }

  .m-t-40 {
    margin-top: 40px;
  }

  .m-t-10 {
    margin-top: 10px;
  }
  /* デザイン */
  

  .inner {
    width: 668px;
    justify-content: space-between;
  }

  .header {
    width: 100%;
    padding: 15px 0;
    background-color:#fff;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .btn {
    height: 12px;
    font-size: 12px;
    padding: 14px 20px;
    background-color: #74cfae;
  }

  .main-theme {
    padding: 250px 0;
  }

  .bolt-theme {
    font-size: 90px;
    font-weight: 700;
    color: #74cfae;
  }

  .sub-bolt-theme {
    font-size: 30px;
    color: #c0c0c0;
    margin-top: 20px;
  }

  .section {
    padding: 50px 0 25px 0;
  }

  .what-we {
    margin-top: 20px;
  }

  .sub-what-we {
    font-size: 20px;
    margin-top: 35px;
  }

  .article {
    padding: 60px 0 70px 0;
  }

  .work-img {
    margin-top: 40px;
    margin: 40px auto 0 auto;
    width: 300px;
  }

  .work-img a:nth-child(4) {
    margin-top: 80px;
  }

  .email-btn {
    margin: 40px auto 0 auto;
    display: inline-block;
  }

  .our-skills {
    width: 100%;
    background-color: #4e4e4e;
    padding: 70px 0 100px 0;
  }

  .skill-img {
    margin-top: 88px;
    text-align: center;
  }

  .skill-img:first-child {
    margin-top: 0;
  }

  .nav {
    padding: 200px 0;
  }

  .sns {
    width: 740px;
  }

  .icon {
    width: 185px;
    height: 80px;
    align-items: center;
  }

  .footer {
    padding: 20px 0 25px 0;
  }

  .footer-text {
    color: #fff;
    float: right;
    font-size: small;
  }
}
/* TAB */



/* phone */
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
    justify-content: space-between;
  }

  .header {
    width: 100%;
    padding: 15px 0;
    background-color:#fff;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .main-theme {
    padding: 160px 0 130px 0;
  }

  .bolt-theme {
    font-size: 80px;
    font-weight: 700;
    color: #74cfae;
  }

  .sub-bolt-theme {
    font-size: 30px;
    color: #c0c0c0;
    margin-top: 20px;
  }

  .section {
    padding: 50px 0 25px 0;
  }

  .what-we {
    margin-top: 20px;
  }

  .sub-what-we {
    font-size: 20px;
    margin-top: 35px;
  }

  .display-block {
    display: block;
  }

  .margin-0-auto {
    margin: 0 auto;
  }

  .article {
    padding: 60px 0 70px 0;
  }

  .work-img {
    margin-top: 40px;
    margin: 40px auto 0 auto;
    width: 300px;
  }

  .work-img a:nth-child(4) {
    margin-top: 80px;
  }

  .m-t-80 {
    margin-top: 80px;
  }

  .email-btn {
    margin: 40px auto 0 auto;
    display: inline-block;
  }

  .btn {
    height: 12px;
    font-size: 12px;
    padding: 14px 20px;
    background-color: #74cfae;
  }

  .our-skills {
    width: 100%;
    background-color: #4e4e4e;
    padding: 70px 0 100px 0;
  }

  .skill-img {
    margin-top: 88px;
    text-align: center;
  }

  .skill-img:first-child {
    margin-top: 0;
  }

  .m-t-40 {
    margin-top: 40px;
  }

  .m-t-10 {
    margin-top: 10px;
  }

  .nav {
    padding: 50px 15px;
  }

  .icon {
    width: 185px;
    height: 80px;
    padding: 16px 0;
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
  }

  /* 一通り全体のデザインを進めていく。その後、細かい部分の修正をする。
  displayの解除を進めていく。 */
}
/* phone */









