/* デザイン */
  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

  .text-align-center {
    text-align: center;
  }

  .display-flex {
    display: flex;
  }
  
  .justify-center {
    justify-content: center;
  }

  .btn {
    height: 12px;
    font-size: 12px;
    padding: 14px 20px;
    background-color: #74cfae;
  }

  .text-decoration-none {
    text-decoration: none;
  }

  .btn:hover {
    color: #333;
  }

  .transition {
    transition-duration: .3s;
  }

  .font-raleway {
    font-family: 'Raleway';
  }

  .font-lato {
    font-family: 'Lato';
  }

  .margin-0-auto {
    margin: 0 auto;
  }





  .width-100 {
    width: 100%;
  }
  
  .color-white {
    color: #fff;
  }

  .font-16 {
    font-size: 16px;
  }

  .font-24 {
    font-size: 24px;
  }

  .line-height-30 {
    line-height: 30px;
  }

  .m-l-180 {
    margin-left: 180px;
  }

  .m-l-180:first-child {
    margin-left: 0;
  }

  .m-t-10 {
    margin-top: 10px;
  }

  .m-t-40 {
    margin-top: 40px;
  }

  .m-t-90 {
    margin-top: 90px;
  }

  .back-color-f2f2f2 {
    background-color: #f2f2f2;
  }

  .back-color-74cfae {
    background-color: #74cfae;
  }
/* デザイン */



.inner {
  width: 1100px;
  justify-content: space-between;
}

.header {
  padding: 15px 0;
  background-color:#fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

.main-theme {
  padding: 250px 0;
}

.bolt-theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.sub-bolt-theme {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.section {
  padding-top: 50px;
  justify-content: space-evenly;
}

.sub-what-we {
  font-size: 20px;
  margin-top: 35px;
}

.article {
  padding: 60px 150px 70px 150px;
}

.our-latest-work {
  font-size: 24px;
  color: #333;
}

.work-img {
  flex-wrap: wrap;
  margin-top: 40px;
}

.work-img a {
  margin-left: 100px;
}

.work-img a:nth-child(n+4) {
  margin-top: 80px;
}

.work-img a:nth-child(3n+1) {
  margin-left: 0;
}

.img {
  opacity: 0.7;
  z-index: 2;
}

.img:hover {
  opacity: 1;
}

.email-btn {
  margin-left: 90px;
}

.our-skills {
  width: 100%;
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.nav {
  padding: 200px 0;
}

.sns {
  width: 740px;
}

.icon {
  width: 185px;
  height: 80px;
  align-items: center;
}

.icon:hover {
  background-color: #fff;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer-text {
  color: #fff;
  float: right;
  font-size: small;
}




